.Registru body{
    text-align: center;
}
.Registru  .content_container{
margin: 100px;
}
.Registru .col1{
    margin-top: 50px;
    display: flex;
    justify-content:center;
}
.Registru .col1 img{
    width: 200px;
    height: 200px;
}

.Registru  .col2{
    margin-left: 100px;
}

.Registru input{
    width: 350px;
    height: 30px;
    margin: 20px;
}


.Registru button{
    background-color:  #6059f6;
    color: white;
    padding:10px 30px  10px;
    margin-top: 30px;
    margin-bottom: 100px;
}